AUTH_SECRET="zUvdxo/BuxpW5xeWLR2Z9j2SPOalJkZzR689L1RNH8Q="
AUTH_URL=https://main.d2pmas3du9v98.amplifyapp.com/

NEXT_PUBLIC_COGNITO_CLIENT_ID=25qlra4mc01uptjiofmmgff1
NEXT_PUBLUC_COGNITO_ID_TOKEN_EXPIRED=10
NEXT_PUBLIC_API_GATEWAY_URL=https://5tdljv2bb0.execute-api.us-east-1.amazonaws.com/prod
